@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@1,200&display=swap');

.container {
  padding-left: 20px;
  padding-right: 20px;
  height: 90vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: verdana;
  font-weight: lighter;
  font-family: 'Titillium Web', sans-serif;
}

.container__title {
  text-align: center;
}

.container__img-container img {
  margin: 10px;
  height: 100px;
  width: 400px;
}

.container #container__link {
  margin-top: 10px;
}

#copyright {
  margin-left: 100px;
}